<!DOCTYPE html>
<html lang="fr">
  <head>
  	<link type="text/css" rel="stylesheet" href="stylesheets/bootstrap.css">
  	<link type="text/css" rel="stylesheet" href="stylesheets/vueindex.css">
    <meta charset="utf-8">
    <title>pLog</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
