<!DOCTYPE html>
<html lang="fr">
  <head>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  	<link type="text/css" rel="stylesheet" href="stylesheets/vueindex.css">
    <meta charset="utf-8">
    <title>pLog</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
