body
{
	color: black;  
	background-color: black;  

}

h1
{
	background:-moz-linear-gradient(#9DE8FE, #0089B3);
	color: #FE0000;
}

h2,h3
{
	color: #FE0000;
}
#bande_horizontale{
	padding: 0px;
	margin-right: 110px;
	margin-left: 110px;
	margin-bottom: 25px;
	border: none;
	width: auto;
	height: 1px;
	background-color: #FA1C1C;
}
#vue{
	margin: 20px 10px 20px 10px;
	text-align: center;
	font-family: lora;
	background-color: purple;
}

#titre{
	text-align: center;
	margin-bottom: 60px;
}

#publier
{
	text-align: center;
	margin: 5px 0px 5px 0px;
	border-radius: 50%;
	background-color: #FE0000
;
	height: 45px;
}

#col-md-6
{
	text-align: left;
	border-radius: 5px black;
	

}

.bloc2
{
	width: auto; 
	height: 80px;
	display: block;
	text-align: left;
}

#row
{
	text-align: left;
	background-color: purple;

}




