body
{
    background-color: #BFBFBF;
}
#col-md-12{
	margin: 20px 10px 20px 10px;
	text-align: center;
	font-family: lora;


}
#titre{
	text-align: center;
	margin-bottom: 60px;

}
#button
{
	background-color: #00D3F3; 
	text-align: center;
	margin: 5px 0px 5px 0px;
	border-radius: 5px;
}

